@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    background : white;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: clamp(2rem, 0.7845rem + 5.1724vw, 3.5rem);
}